# Compiled files
*.run
a.out
*.exe

# From Cmake
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
Makefile


# Specific 
files
rapidcheck/
output2.700000.txt
output3.100000.txt
test.cc

# From running scripts
*.dat
*.txt
*.out